@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

@font-face {
    src: url("../fonts/BalsamiqSans-Bold.ttf");
    font-family: "balsimic sans";
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto sans KR", sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: "balsimic sans";
}
a {
    color: #000000;
    text-decoration: none;
}
li {
    list-style: none;
}

.menu {
    text-align: center;
    padding: 20px;
    border-top: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
    font-size: 18px;
}
.menu a{
    padding: 20px;
}

.container {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.container .list {
    width: 20%;
    text-align: left;
    float: left;
}
.container .list a {
    display: block;
    padding-top: 12px;
    padding-left: 10px;
}
.container .list .on {
    height: 50px;
    border-bottom: #AAAAAA solid 1px;
}
.container .list a.active {
    color: #6D983C;
}
.container .content {
    padding-left: 100px;
    width: 80%;
    float: left;
}