@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

@font-face {
    src: url("../fonts/BalsamiqSans-Bold.ttf");
    font-family: "balsimic sans";
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
body {
    font-family: "Noto sans KR", sans-serif;
    background-color: #EEEEEE;
    margin: 0px;
}
a {
    color: #000000;
    text-decoration: none;
}
li {
    list-style: none;
}
dl {
    margin: 0;
}
dd {
    margin-inline-start: 0;
}

.logo_container {
    height: 100px;
    background-color: #FFFFFF;
}
.logo_container .logo {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-family: "balsimic sans";
}

.menu {
    background-color: #FFFFFF;
    height: 70px;
    text-align: center;
    padding: 20px;
    border-top: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
    font-size: 18px;
}
.menu a{
    padding: 20px;
}

.container_wrapper {
    height: calc(100vh - (100px + 70px));
    padding: 50px;
    background-color: #EEEEEE;
    min-height: 500px;
}
.container_wrapper .container {
    height: 100%;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: #999999 0px 0px 20px;
}
.container_wrapper .container .list {
    width: 20%;
    text-align: left;
    float: left;
}
.container_wrapper .container .list a {
    height: 50px;
    display: block;
    padding-top: 12px;
    padding-left: 10px;
    -webkit-transition:background-color 0.5s, color 0.5s;
}
.container_wrapper .container .list a:hover {
    background-color: #6D983C;
    color: #FFFFFF;
}
.container_wrapper .container .list .on {
    border-bottom: #AAAAAA solid 1px;
}
.container_wrapper .container .list a.active {
    color: #6D983C;
    -webkit-transition:background-color 0.5s, color 0.5s;
}
.container_wrapper .container .list a.active:hover {
    background-color: #6D983C;
    color: #FFFFFF;
}
.container_wrapper .container .content {
    padding: 50px 50px 70px 70px;
    width: 80%;
    float: left;
}
.container_wrapper .container .content .people {
    box-shadow: #999999 0px 0px 5px;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    height: 180px;

}
.container_wrapper .container .content .people dt {
    display: block;
    height: 140px;
    width: 120px;
    float: left;
}
.container_wrapper .container .content .people dt img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.container_wrapper .container .content .people dd {
    width: calc(100% - 120px);
    display: block;
    padding: 0px 0px 0px 20px;
    float: right;
}
.container_wrapper .container .content .people dd .position {
    font-weight: bold;
}
.container_wrapper .container .content .people dd .major {

}
.container_wrapper .container .content .people dd .name {
    font-size: 25px;
}
